.kinds {
  svg {
    path:nth-child(2) {
      stroke-width: 24 !important;
    }
  }
}
.donut {
  text {
    display: none;
  }
}
.dropdownElem:hover {
  background: #e8eff7;
}
.recharts-layer .recharts-bar-rectangle {
  path:hover {
    fill: #4078bc;
  }
}
.recharts-tooltip-cursor {
  display: none;
}
.recharts-tooltip-item-list {
  span {
    color: #4078bc;
  }
}
